body {
    font-family: Arial, sans-serif;
    background-color: #f8e6e0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ce6973;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.content {
    padding: 20px;
}

h2 {
    color: #e03e4e;
}